<div class="navbar">
    <nav>
        <a asp-action="Index" asp-controller="Home">Dashboard</a>
        <a asp-action="Index" asp-controller="Product">Products</a>
        <a asp-action="Index" asp-controller="Order">Orders</a>
        <a asp-action="Index" asp-controller="Customers">Customers</a>
    </nav>
</div>